## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [13]:
import os
import numpy as np
import pandas as pd

In [14]:
# 設定 data_path
dir_data = './data/'

In [27]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [28]:
(r,c)=app_train.shape
print("Rows count =", r )
print("Columns count =", c )

Rows count = 307511
Columns count = 122

#### 列出所有欄位

In [29]:
app_train.head(1)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0

#### 截取部分資料

In [54]:
app_train.ix[:,1:3] #擷取部分資料

C:\Users\acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

        TARGET NAME_CONTRACT_TYPE
0            1         Cash loans
1            0         Cash loans
2            0    Revolving loans
3            0         Cash loans
4            0         Cash loans
5            0         Cash loans
6            0         Cash loans
7            0         Cash loans
8            0         Cash loans
9            0    Revolving loans
10           0         Cash loans
11           0         Cash loans
12           0         Cash loans
13           0         Cash loans
14           0         Cash loans
15           0         Cash loans
16           0         Cash loans
17           0    Revolving loans
18           0    Revolving loans
19           0         Cash loans
20           0    Revolving loans
21           0         Cash loans
22           0         Cash loans
23           0         Cash loans
24           0         Cash loans
25           0         Cash loans
26           1         Cash loans
27           0         Cash loans
28           0         Cash loans
29           0    Revolving loans
...        ...                ...
307481       1         Cash loans
307482       0         Cash loans
307483       0         Cash loans
307484       0         Cash loans
307485       0    Revolving loans
307486       0         Cash loans
307487       0         Cash loans
307488       0         Cash loans
307489       1         Cash loans
307490       0         Cash loans
307491       0         Cash loans
307492       0         Cash loans
307493       0         Cash loans
307494       0         Cash loans
307495       0         Cash loans
307496       0    Revolving loans
307497       0         Cash loans
307498       0         Cash loans
307499       0         Cash loans
307500       0         Cash loans
307501       0         Cash loans
307502       0         Cash loans
307503       0         Cash loans
307504       0         Cash loans
307505       0         Cash loans
307506       0         Cash loans
307507       0         Cash loans
307508       0         Cash loans
307509       1         Cash loans
307510       0         Cash loans

[307511 rows x 2 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子